/*取消默认样式*/
input {
    vertical-align: bottom;
}
input:focus {
    outline: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    font-family: '微软雅黑';
    text-decoration: none;
    text-align: center;
    color: #252436;
}